<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły wydarzenia</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1 th:text="${event.nameEvent}"></h1>

<h4>UCZESTNICY</h4>

<table class="table">
    <thead>
    <tr>
        <th>Nick</th>
        <th th:each="participant : ${participants}" th:text="*{participant.nameParticipant}"></th>
    </tr>
    </thead>
    <tr>
        <td style="font-weight: bold">Bilans</td>
        <td th:each="participant : ${participants}" th:text="*{participant.balance}"></td>
    </tr>
    <tr>
        <td style="font-weight: bold">Usuń uczestnika / edytuj nick</td>
        <td th:each="participant : ${participants}">
            <a th:href="@{${formUlrParticipant} + '/' + ${participant.id} + '/delete'}" th:text="usuń"></a> /
            <a th:href="@{${formUlrParticipant} + '/' + ${participant.id}}" th:text="edytuj"></a></td>
    </tr>
</table>

<button><a th:href="@{${formUlrParticipant}}">Dodaj uczestnika</a></button>

<br>

<h4>WYDATKI</h4>

<table class="table">
    <thead>
    <tr>
        <th>Płatnik</th>
        <th>Opis</th>
        <th>Kwota</th>
        <th>Wszyscy</th>
        <th th:each="participant : ${participants}" th:text="*{participant.nameParticipant}"></th>
    </tr>
    </thead>

    <div th:object="${payments}" th:each="payment : ${payments}">
        <tr>
            <td th:text="${payment.owner.nameParticipant}"></td>
            <td th:text="${payment.paymentDescription}"></td>
            <td th:text="${payment.expense}"></td>
            <td>
                <label>
                    <input type="checkbox" th:checked="${payment.participantList.containsAll(participants)}">
                </label>
            </td>
            <!--            <td th:each="paymentParticipant : ${{payment.participantList}}">-->
            <!--                <input type="checkbox" th:field="${paymentParticipant}" th:value="${paymentParticipant.id}"/>-->
            <!--            </td>-->
            <td th:each="participant : ${participants}">
                <label>
                    <input type="checkbox" th:checked="${payment.participantList.contains(participant)}">
                </label>
            </td>
        </tr>
    </div>


    <form th:action="@{${formUlrPayment}}" method="post" th:object="${payment}">
        <tr>
            <td>
                <label>
                    <select th:field="*{owner}">
                        <option th:type="text" th:value="Wybierz">Wybierz</option>
                        <option th:each="participant : ${participants}" th:text="${participant.nameParticipant}"
                                th:value="${participant.id}"></option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="typeDescription" th:field="*{paymentDescription}">
                </label>
            </td>
            <td>
                <label>
                    <input type=number name="typeAmount" th:field="*{expense}">
                </label>
            </td>

            <script language="JavaScript">
                function toggle(source) {
                    checkboxes = document.getElementsByName('paymentParticipant');
                    for (var i = 0, n = checkboxes.length; i < n; i++) {
                        checkboxes[i].checked = source.checked;
                    }
                }
            </script>

            <td>
                <label>
                    <input type="checkbox" onclick="toggle(this)" name="paymentParticipant"
                           th:field="*{participantList}" th:value="${participants}">
                </label>
            </td>

            <td th:each="participant : ${participants}">
                <label>
                    <input type="checkbox" name="paymentParticipant" th:field="*{participantList}"
                           th:value="${participant.id}">
                </label>
            </td>
            <td>
                <button type="submit" value="Dodaj">Dodaj</button>
            </td>
        </tr>
    </form>

</table>


<p><a th:href="@{/api/v2/name-event}">Utwórz inne wydarzenie</a></p>

</body>
</html>