<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły wydarzenia</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1 th:text="${event.nameEvent}"></h1>

<h4>UCZESTNICY</h4>

<table>
    <tr>
        <th th:each="participant : ${participants}" th:text="*{participant.nameParticipant}"></th>
    </tr>
</table>

<button><a th:href="@{${formUlrParticipant}}">Dodaj uczestnika</a></button>

<br>
<br>
<br>

<h4>WYDATKI</h4>

<table class="table">
    <thead>
    <tr>
        <th>Płatnik</th>
        <th>Opis</th>
        <th>Kwota</th>
        <th>Wszyscy</th>
        <th th:each="participant : ${participants}" th:text="*{participant.nameParticipant}"></th>
    </tr>
    </thead>

    <form th:object="${payments}" th:each="payment : ${payments}">
        <tr>
            <td th:text="${payment.owner.nameParticipant}"></td>
            <td th:text="${payment.paymentDescription}"></td>
            <td th:text="${payment.expense}"></td>
            <td>[]</td>
            <td th:each="participant : ${participants}">
                <input type="checkbox" th:field="${participants}" th:value="${participant}"/>
            </td>
        </tr>
    </form>


    <form th:action="@{${formUlrPayment}}" method="post" th:object="${payment}">
        <tr>
            <td>
                <select th:field="*{owner}">
                    <option type="text" th:value="Wybierz">Wybierz</option>
                    <option th:each="participant : ${participants}" th:text="${participant.nameParticipant}"
                            th:value="${participant.id}"></option>
                </select>
            </td>
            <td>
                <input type="text" name="typeDescription" th:field="*{paymentDescription}">
            </td>
            <td>
                <input type=number name="typeAmount" th:field="*{expense}">
            </td>
            <td>
                <input type="checkbox" th:value="${participants}">
            </td>
            <td th:each="participant : ${participants}">
                <input type="checkbox" th:field="*{participantList}" th:value="${participant.id}"></td>
            <td>
                <button type="submit" value="Dodaj">Dodaj</button>
            </td>
        </tr>
    </form>

</table>


<p><a th:href="@{/api/v2/name-event}">Utwórz inne wydarzenie</a></p>


</body>
</html>