<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytowanie Uczestnika</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>

<H1 th:text="*{event.nameEvent}"></H1>

<br>

<p>Proszę wpisać uczestnika wydarzenia, a następnie naciśnąć ENTER!</p>
<form th:action="@{'/api/v2/events/' + ${event.id} + '/participants/' +${participant.id}}" method="post" th:object="${participant}">
    <label>
        <input type="text" th:field="${participant.nameParticipant}">
    </label>
    <button type="submit" value="Edytuj">Edytuj</button>
</form>

</body>
</html>