<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytowanie Uczestnika</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<H1 th:text="*{event.nameEvent}"></H1>

<br>

<p>Proszę wpisać uczestnika wydarzenia, a następnie naciśnąć ENTER!</p>
<form th:action="@{'/api/v2/events/' + ${event.id} + '/participants/' +${participant.id}}" method="post" th:object="${participant}">
    <label>
        <input type="text" th:field="${participant.nameParticipant}">
    </label>
    <button type="submit" value="Edytuj">Edytuj</button>
</form>

</body>
</html>