<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodanie uczestnika</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<H1 th:text="${event.nameEvent}"></H1>
<br>
<br>

Gratulujemy <span th:text="${participant.nameParticipant}"></span>! Jesteś dodany/dodana do wydarzenia "<span th:text="${event.nameEvent}"></span>"!
<br>

<p><a th:href="@{${formUlr}}">Wróć do wydarzenia</a></p>

</body>
</html>