tbody tr:nth-child(even) {
    background-color: #cccccc;
}

tbody tr:nth-child(odd) {
    background-color: #efefef;
}

.success {
    background-color: #1fff90;
    border: 1px solid green;
}

.error {
    color: red;
}

.error-input {
    border: 1px solid red;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1%;
}

.table td, th {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 5px 12px;
    text-align: center;
    vertical-align: center;
}

.table tbody tr:nth-child(even) td {
    background-color: #f3f3f3;
}

.div {
    display: flex;
}

h1{
    text-align: center;
}

.spanLeft {
    text-align: left;
}

.spanRight {
    text-align: right;
}